@charset "UTF-8";

/*Medium Devices*/

@media screen and (min-width: 768px ) and (max-width: 992px) {
    
    body {

        background-image: linear-gradient(-90deg, var(--cor1), var(--cor2), var(--cor3));
    }
    main > #login {

        width: 700px;
        height: 370px;
    }
    section > #img {

       float: left;
       width: 30%;
       height: 100%;
       border-radius: 20px 0 0 20px;
        
    }
    section > #formulario {

       float: right;
       width: 70%;

    }

    #formulario > h1 {

        margin-top: 10px;
        font-size: 1.8em;
    }

    div#formulario > p {

        font-size: 1em;
        margin-bottom: 50px;

    }

}

@media screen and (min-width: 993px) {

    body {

        background-image: linear-gradient(-90deg, var(--cor1), var(--cor2), var(--cor3));
    }

    main > #login {

        width: 900px;
        height: 370px;
    }
    section > #img {

       float: right;
       width: 40%;
       height: 100%;
       border-radius: 0 20px 20px 0;
        
    }
    section > #formulario {

       float: left;
       width: 60%;

    }  

    #formulario > h1 {

        margin-top: 10px;
        font-size: 1.8em;
    }

    div#formulario > p {

        font-size: 1em;
        margin-bottom: 50px;
    }
}